#offers_index

  .offers
    - if @offers.any?
      .hero-unit
        %h1
          = pluralize(@offers.size, 'Offer')
        %p
          Only showing offers with not blank titles
      - @offers.each do |offer|
        %div.offer
          %h2= offer.title
          %p= offer.description
          .row
            .span1.offset7
              =button_to 'Get deal', offer.url, class: "btn"
